<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BAR_1_4_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,156},{34,24}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,167},{34,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_4_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,222},{34,20}}</string>
                <key>offset</key>
                <string>{56,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,168},{34,20}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_4_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,178},{32,24}}</string>
                <key>offset</key>
                <string>{56,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,168},{32,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_4_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,64},{32,28}}</string>
                <key>offset</key>
                <string>{55,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,168},{32,28}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_4_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{32,30}}</string>
                <key>offset</key>
                <string>{55,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,168},{32,30}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_4_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{32,28}}</string>
                <key>offset</key>
                <string>{56,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,167},{32,28}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_5_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{34,24}}</string>
                <key>offset</key>
                <string>{57,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,166},{34,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_5_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,148},{34,24}}</string>
                <key>offset</key>
                <string>{57,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,167},{34,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_5_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,212},{34,22}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,168},{34,22}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_5_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,106},{34,26}}</string>
                <key>offset</key>
                <string>{56,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,169},{34,26}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_5_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,30}}</string>
                <key>offset</key>
                <string>{56,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,166},{34,30}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_5_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,64},{32,28}}</string>
                <key>offset</key>
                <string>{57,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,165},{32,28}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_6_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,142},{34,24}}</string>
                <key>offset</key>
                <string>{57,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,166},{34,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_6_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,130},{34,24}}</string>
                <key>offset</key>
                <string>{57,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,167},{34,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_6_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,206},{34,22}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,168},{34,22}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_6_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,94},{34,26}}</string>
                <key>offset</key>
                <string>{56,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,169},{34,26}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_6_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,30}}</string>
                <key>offset</key>
                <string>{56,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,166},{34,30}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_6_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,34},{32,28}}</string>
                <key>offset</key>
                <string>{57,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,165},{32,28}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_7_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{34,24}}</string>
                <key>offset</key>
                <string>{57,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,166},{34,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_7_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{36,24}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,167},{36,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_7_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{34,22}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,168},{34,22}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_7_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,94},{34,26}}</string>
                <key>offset</key>
                <string>{56,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,169},{34,26}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_7_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,30}}</string>
                <key>offset</key>
                <string>{56,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,166},{34,30}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_7_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,34},{34,28}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,165},{34,28}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_8_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,198},{34,22}}</string>
                <key>offset</key>
                <string>{57,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,168},{34,22}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_8_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,34},{34,20}}</string>
                <key>offset</key>
                <string>{57,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,168},{34,20}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_8_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,182},{34,22}}</string>
                <key>offset</key>
                <string>{57,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,167},{34,22}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_8_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,174},{34,22}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,168},{34,22}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_8_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,70},{34,22}}</string>
                <key>offset</key>
                <string>{56,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,168},{34,22}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>BAR_1_8_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,122},{34,24}}</string>
                <key>offset</key>
                <string>{56,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,168},{34,24}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BAR_1_effects.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b56dd88aded6136ae9f48dc9cb47c303:1/1$</string>
            <key>textureFileName</key>
            <string>BAR_1_effects.png</string>
        </dict>
    </dict>
</plist>
